<div class="outside-wrapper">
  <div class="inside-container">
    <div class="page-header">
      <h1>Tell me what you Tea</h1>
      <p>Find all your favourite teas in one place</p>

      <div class="tea-cards">
        <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <%= cocktail.name %>
              <%= link_to edit_cocktail_path(cocktail) do %>
              <i class="far fa-edit edit-icon"></i>
              <% end %>
              <%= link_to destroy_cocktail_path(cocktail) do %>
              <i class="far fa-trash-alt delete-icon"></i>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <!---- div closing page-header ---->
    </div>


    <div class="create-tea">
      <div class="page-header">
        <h1> Create your own tea!</h1>
        <%= render 'form' %>
      </div>
    </div>
  <!---- div closing the inside container ---->
  </div>
<!---- div closing the outside wrapper ---->
</div>

