<div class="outside-wrapper">
  <div class="inside-container">
    <div class="page-header">
      <h1>Tell me what you Tea</h1>
      <p>Find all your favourite teas in one place</p>
    </div>


    <div class="create-tea">
      <div class="page-header">
        <h1> Create your own tea!</h1>
        <%= render 'form' %>
      </div>
    </div>
  <!---- div closing the inside container ---->
  </div>
<!---- div closing the outside wrapper ---->
</div>

